<footer class="footer bg-dark rounded-top text-center"> <!-- Escribiendo en class footer estamos llamando al footer.component.css. -->
    <div class="container py-2">
        <p class="text-white my-2">
            &copy; {{autor.apellidos + ', ' + autor.nombre}}
        </p>
    </div>
</footer>