
<div class="container"> <!-- Con la clase container juntamos el texto y lo desplazamos a la derecha. -->
  <h1>
    {{title | uppercase}} <!-- Llama al título de app.component.ts (clase). -->
  </h1> 
  <h2>
    {{description}}
  </h2>
</div>
<alert></alert>
<router-outlet></router-outlet>

<app-footer></app-footer>
