<div class="alert alert-danger" *ngIf="!juegos">
    Error al consultar los juegos
</div>
<div class="alert alert-info" *ngIf="juegos?.length==0">
    No hay juegos
</div>
<div class="card border-primary mb-3" *ngIf="juegos?.length>0">
    <div class="card-header"> Juegos
        <button type="button" class="btn btn-primary float-right" (click)="switchId()"> {{ showId == true ? 'Ocultar': 'Mostrar'}} ID </button>
    </div>
    <div class="card-body text-primary">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th *ngIf="showId"> ID </th>
                    <th> Título </th>
                    <th> Fecha Lanzamiento </th>
                    <th> Precio </th>
                    <th> PEGI </th>
                    <th> Categoría </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let juego of juegos">
                    <td *ngIf="showId"> {{ juego.idJuego}} </td>
                    <td> {{ juego.titulo }} </td>
                    <td> {{ juego.fechaLanzamiento }} </td>
                    <td> {{ juego.precio }} </td>
                    <td> {{ juego.pegi }} </td>
                    <td> {{ juego.categoria }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
