<div class="alert alert-info" *ngIf="clientes?.length == 0">
    No hay clientes
</div>
<div class="card border-primary mb-3" *ngIf="clientes?.length > 0">
    <div class="card-header">
        <button type="button" class="btn btn-primary float-right" (click)="switchId()"> {{ showId == true ? 'Ocultar': 'Mostrar'}} ID </button>
    <div>
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th *ngIf="showId"> ID </th>
            <th>Nombre</th>
            <th>Fecha Nacimiento</th>
            <th>Correo</th>
            <th>DNI</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <td *ngIf="showId"> {{ cliente.idCliente}} </td>
            <td>{{cliente.nombreCliente}}</td>
            <td>{{cliente.fechaNacimiento}}</td>
            <td>{{cliente.correo}}</td>
            <td>{{cliente.dni}}</td>
        <tr>
    </tbody>

</table>
    </div>
  </div>
